<h2>
    <!--
ASSIGNMENT 2.3:
now lets input our property in the template by using the following syntax {{myProperty}}
CHECK YOUR BROWSER TO SEE THE RESULT
-->
</h2>

<div class="search-block-component">
    <!--
    ASSIGNMENT 2.5:
    create a binding using ngModel to connect (bind) the property we created in 2.4 to the template
    for this we need to use event binding e.g ()
    @example: <input type="text" (ngModel)="searchField">
    -->
    <input type="search">

    <!--
    ASSIGNMENT 2.6:
    we also need a way of testing our binding so lets add a button and bind e method to it on the "click" event
    @example: <button (click)="myMethod">test</button>
    also add this method as a private method to our component class and let it log the searchField property
    -->
</div>