<ul class="moviemanager-movie-list-component">
    <li *ngFor="let movie of movies">
        <span class="title">title: {{movie.title}}</span>
        <span class="prop">year: {{movie.year}}</span>
        <span class="prop">id: {{movie.id}}</span>
        <span class="prop">type: {{movie.type}}</span>
        <img [src]="movie.imageUrl">
    </li>
</ul>

<!--
    ASSIGNMENT 7.3:
    add a click event on the movie items and bind it to a method that sets an array of movieItems.
    call the moviebucket component and input the array above into the component
    @example <moviemanager-movie-bucket [bucketItems]="myMovieItems"></moviemanager-movie-bucket>
    CHECK YOUR BROWSER TO SEE IF IT WORKS!!
-->