ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  li {
    padding: 20px;
    width: 20%;
    span {
      display: block;
    }
    &.active {
      transform: scale(3);
      position: absolute;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0) scale(3);
    }
  }
}
